<ul class="stats">
    {{ if isset .Params "tags" }}
        {{ $tagsCount := (len .Params.tags) }}

        <!--
            Set the title before displaying the tags associated with this post.
            The title will use the variables from the Tags menu set in the Config.
            If the Tags menu was not set then use the default values instead.
        -->
        {{ if ge $tagsCount 1 }}
            <li>
                {{ $tagsMenu := (where .Site.Menus.main "Name" "Tags") }}
                {{ if ne (len $tagsMenu) 0 }}
                    {{ $tagsMenu := index $tagsMenu 0 }}

                    {{ $.Scratch.Set "tagsUrl" $tagsMenu.URL }}

                    {{ with $tagsMenu.Identifier }}
                        <i class="{{ . }}">&nbsp;</i>
                    {{ end }}

                    {{ if gt $tagsCount 1 }}
                        {{ $tagsMenu.Name }}
                    {{ else }}
                        {{ $tagsMenu.Name | singularize }}
                    {{ end }}
                {{ else }}
                    {{ $.Scratch.Set "tagsUrl" "/tags/" }}

                    {{ if gt $tagsCount 1 }}
                        Tags
                    {{ else }}
                        Tag
                    {{ end }}
                {{ end }}
            </li>
        {{ end }}
    {{ end }}

    <!-- Display the tags associated with this post -->
    {{ range .Params.tags }}
        <li><a href='{{ add ($.Scratch.Get "tagsUrl") . | urlize }}'>{{ . }}</a></li>
    {{ end }}
</ul>
