{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <!-- Please note that the param orderByPublishDate is no longer being used
             since the pagination is not what is expected. Use at your own risk! -->
            {{ $paginator := .Paginate (where (.Data.Pages.GroupByDate "2006") "Type" "publications") 5 }}

        {{ range $paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}

        {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
