{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}

    <div id="main">
        {{ if .Site.Params.orderByPublishDate }}
            {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate.Reverse "Type" "slides") }}
        {{ else }}
            {{ $paginator := .Paginate (where .Site.Pages "Type" "slides") }}
        {{ end }}

        {{ range .Paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}
     {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
